<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">WeddingApp</a>
  <ul class="navbar-nav">
    <li class="me-md-4">
      <a
        class="nav-link"
        [routerLink]="['/ballroom']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Venue</a
      >
    </li>
    <li class="">
      <a
        class="nav-link"
        [routerLink]="['/guests']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Guests</a
      >
    </li>
    <li>
      <a
        class="nav-link"
        [routerLink]="['/band']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Music Band / DJ</a
      >
    </li>
    <li>
      <a
        class="nav-link"
        [routerLink]="['/videographer']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Videographer</a
      >
    </li>
    <li>
      <a
        class="nav-link"
        [routerLink]="['/songs']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Playlist</a
      >
    </li>
    <li>
      <a
        class="nav-link"
        [routerLink]="['/massfunctions']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Mass Functions</a
      >
    </li>
    <li>
      <a
        class="nav-link"
        [routerLink]="['/todos']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >To Do List</a
      >
    </li>
    <li>
      <a
        class="nav-link"
        [routerLink]="['/expenses']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Expenses</a
      >
    </li>
  </ul>
</nav>
