<navbar></navbar>
<router-outlet></router-outlet>

<!-- <div class="container">
  <h2 style="margin-left: auto; margin-right: auto; margin-top: 20px; text-align: center;">Wedding app!</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque arcu massa, cursus sed augue et, dapibus dignissim velit. Donec commodo sit amet ligula sed venenatis. Pellentesque mauris dolor, tempor facilisis vestibulum et, maximus eget nisi. Sed laoreet metus non tempus tristique. Suspendisse odio velit, luctus at auctor a, imperdiet a elit. Mauris at vehicula ex. Integer sit amet semper ipsum. Quisque convallis vulputate pulvinar. Duis dolor libero, auctor tincidunt libero et, vehicula molestie tellus. Phasellus in arcu eleifend, tincidunt mauris eget, blandit odio. Proin fringilla tortor non urna euismod, ac feugiat ex varius. Proin elit massa, interdum eu sapien eu, consectetur rutrum est. </p>

  <hr>

  <form>
    <div>
      <div>
        <label for="entry1" class="form-label">Entry 1</label>
        <input type="text" id="entry1" class="form-control">
      </div>

      <div>
        <label for="entry2" class="form-label">Entry 2</label>
        <input type="text" id="entry2" class="form-control">
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Zapisz!</button>
  </form>
</div> -->